# config.env  -  IKKE COMMIT DENNE FILEN TIL GIT
# Kopier til config.env og fyll inn dine verdier.

# Maskinporten
MASKINPORTEN_TOKEN_URL=https://test.maskinporten.no/token
MASKINPORTEN_CLIENT_ID=SETT_INN_CLIENT_ID_HER
MASKINPORTEN_SCOPE=fdir:biomassreportingapi
MASKINPORTEN_KID=SETT_INN_KID_HER

# Privat nokkel
PRIVATE_KEY_PATH=keys/private.pem

# Fiskeridirektoratet API
FDIR_API_BASE_URL=https://testapi.fiskeridir.no/biomass-reporting-api-protected
